.cont-putpost{
    background-image: url('../../assets/images/bg-ring.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 1000px 80px black inset;    
    color: white;
    min-height: 100vh;
}

.box-editapost{
    width: 100%;
    border-radius: 12px;
    padding: 36px;
    color: white; 
    box-shadow: 0px 0px 40px 10px #000;
}

.botao-publicar{
    border-radius: 6px;
    background-color: cornflowerblue;
    color: white;
    transition: ease-in-out 200ms;
}

.botao-publicar:hover{
    opacity: 0.8;
    border: 1px solid white;
    
}