<!-- FOOTER -->
<div id="contato" class="container-fluid footer bg-dark">
  <!-- <div class="row">
        <div class="col-12 bg-white">
            <p class="text-center  my-4 ">Contato</p>
        </div>

    </div> -->
  <div class="row pt-5">
    <div class="col-12 bg-dark d-flex align-items-center justify-content-center ">
      <div class="facebook mb-5 px-3 ">
        <a class="rede-social" href="https://www.facebook.com/andrewillian.carvalho/" target="_blank"
          rel="noopener noreferrer"><img src="../../assets/icons/facebook_original.png" width="40px" height="40px"
            alt=""></a>
      </div>
      <div class="instagram mb-5 px-3">
        <a class="rede-social" href="https://www.instagram.com/andreh_w/" target="_blank" rel="noopener noreferrer"><img
            src="../../assets/icons/instagram_original.png" width="40px" height="40px" alt=""></a>
      </div>
      <div class="email mb-5 px-3">
        <a class="rede-social" href="https://www.linkedin.com/in/andrecarvalho3/" target="_blank"
          rel="noopener noreferrer"><img src="../../assets/icons/linkedin_original.png" width="40px" height="40px"
            alt=""></a>
      </div>
      <div class="email mb-5 px-3">
        <a class="rede-social" href="https://github.com/AndrehW27" target="_blank" rel="noopener noreferrer"><img
            src="../../assets/icons/github.png" width="40px" height="40px" alt=""></a>
      </div>
    </div>
  </div>
  <div class="row bg-copy pt-3 pb-1">
    <div class="col-12">
      <p class="text-center text-white ">Todos os direitos reservados: <span class="copyright">&copy;</span>André
        Willian</p>
    </div>

  </div>
</div>
<!-- / FOOTER -->
