


<!-- FOOTER -->
<div id="contato" class="container-fluid w-100 p-0 m-0 bg-dark">

  <div class="teste row w-100 p-0 m-0 ">
    <div class="col-footer col-12 bg-dark d-flex align-items-center justify-content-around  px-0 py-5 m-0 text-white">



      <div class="redes d-flex align-items-center justify-content-center">

        <div class="facebook   ">
          <a class="rede-social" href="https://www.facebook.com/andrewillian.carvalho/" target="_blank"
            rel="noopener noreferrer"><img src="../../assets/icons/facebook_original.png" width="50px" height="50px"
              alt=""></a>
        </div>
        <div class="instagram  ">
          <a class="rede-social" href="https://www.instagram.com/andreh_w/" target="_blank"
            rel="noopener noreferrer"><img src="../../assets/icons/instagram_original.png" width="50px" height="50px"
              alt=""></a>
        </div>
        <div class="linkedin  ">
          <a class="rede-social" href="https://www.linkedin.com/in/andrecarvalho3/" target="_blank"
            rel="noopener noreferrer"><img src="../../assets/icons/linkedin_original.png" width="50px" height="50px"
              alt=""></a>
        </div>
        <div class="github  ">
          <a class="rede-social" href="https://github.com/AndrehW27" target="_blank" rel="noopener noreferrer"><img
              src="../../assets/icons/github.png" width="50px" height="50px" alt=""></a>
        </div>

      </div>




      <div class="form-box w-100 ">

        <form class="w-100">
          <div class="form-group ">
            <label for="exampleFormControlInput1">Email </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>


          <div class="form-group">
            <label for="exampleFormControlTextarea1">Assunto</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>

      </div>

    </div>


  </div>
  <div class="row copy-row py-4 m-0">
    <div class="col-12">
      <p class="text-center text-white m-0"><span class="copyright">&copy;</span> 2020 Copyright: André Willian</p>
    </div>
  </div>



</div>
<!-- / FOOTER -->
