
.navbar-inverse{
    background-image: linear-gradient(rgba(0, 0, 0,0.7), transparent);
    border-color: transparent;
}


/* .navbar-inverse .navbar-brand{
    color: #fff;
    font-size: 40px;
    padding: 40px 15px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    
}