

.navbar-inverse{
    background-image: linear-gradient(rgba(0, 0, 0,0.7), transparent );
    border-color: transparent;
}

.navbar-inverse .navbar-nav  a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: cornflowerblue;
}

.icon-bg{

   background-image: url('../../assets/icons/menu2.png');
   margin-top: 12px;
}

.botao-cadastrar{
    position: fixed;
    top: 10px;
    right: 90px;
    border-right: 1px solid white;
}

.botao-login{
    position: fixed;
    top: 10px;
    right: 20px;
}

.botao-sair{
    position: fixed;
    top: 10px;
    right: 20px;
}

.botao-cadastrar a:hover, .botao-login a:hover, .botao-sair a:hover, .botao-feed a:hover{
    color: cornflowerblue !important;
}

