<div class="container-fluid d-flex justify-content-center align-items-center text-white cont-cadastro">

  <div class="row d-flex w-100 justify-content-center ">


    <div class="col-md-2 sauron mt-5"></div>
    <div class="col-md-4 col-cadastro bg-dark p-4 mt-5">

      <h1 class="text-center" style="color: rgb(192, 54, 4) ;">Cadastro</h1>

      <div>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" placeholder="Digite o seu nome aqui"
            [(ngModel)]='user.nome'>
          <!-- <div id="txtNome">Válido</div> -->
        </div>

        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com" [(ngModel)]='user.usuario'>
        </div>

        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" id="senha" placeholder="Digite sua senha"
            (input)='conferirSenha($event)' value='{{senha}}'>
        </div>

        <div class="form-group">
          <label for="senhaConf">Confirmar Senha</label>
          <input type="password" class="form-control" id="senhaConf" placeholder="Digite a confirmação de senha"
            [(ngModel)]='user.senha'>
        </div>

        <div class="d-flex justify-content-center">
          <button class="btn botao-cadastro w-25 mt-3" (click)='cadastrar()'>Cadastrar</button>
        </div>

        <p class="text-center mt-4">Já é cadastrado? <a routerLink="/login"> Faça login</a> </p>

      </div>
    </div>
  </div>

</div>
