.cont-cadastro{
    height: 100vh;
    background-image: url('../../assets/images/lotr.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-cadastro{ 
    border-radius: 0px 20px 20px 0px; 
    box-shadow: 5px 20px 30px #000;
}

.sauron{
    background-image: url('../../assets/images/sauron.jpg'); 
    background-position: 30% 50%;
    background-repeat: no-repeat;
    background-size: cover;    
    border-radius: 20px 0px 0px 20px;  
    box-shadow: 5px 20px 30px #000;
}